# OpenAPI History Tracker - Environment Variables

# API Service Authentication
SERVICE_API_KEY=YOU_TOKEN_HERE

# Global Service Config
GITLAB_URL=https://git.vseinstrumenti.net
CONFLUENCE_BASE_URL=https://kb.vseinstrumenti.ru

# Secrets (used via substitution in projects.yaml)

# Logs
LOG_LEVEL=INFO