# OpenAPI History Tracker - Environment Variables

# API Service Authentication
SERVICE_API_KEY=b8299583-cba7-4dbd-9f7d-27c72a9a4415

# Global Service Config
GITLAB_URL=https://git.vseinstrumenti.net
CONFLUENCE_BASE_URL=https://kb.vseinstrumenti.ru

# Secrets (used via substitution in projects.yaml)

# Logs
LOG_LEVEL=INFO